*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/inspectionProfiles/Project_Default.xml
.idea/gradle.xml
.idea/copyright/profiles_settings.xml
gradlew
gradle/wrapper/gradle-wrapper.jar
app/proguard-rules.pro
.idea/vcs.xml
settings.gradle
gradlew.bat
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/compiler.xml
